<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="StyleSheet" href="../../stylesheets/Header.css" type="text/css"/>
    <link rel="stylesheet" href="../../stylesheets/Footer.css" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body>

    <header>
        <p>Anteiku</p>
    </header>
    {{{body}}}
    <footer>
        <p>Diseñado por Pablo Giadans - &copy; 2022</p>
    </footer>

</body>

</html>