.slider-container2{
    margin: 0 auto;
    overflow-x: hidden;
    width: 1200px;
}
.slider2{
    display: flex;
    cursor: grab;
    width: 2400px;
}
.item2{
    height: 40rem;
    max-width: 500px;
    padding: 2rem;
}
.item2 img{
    height: 100%;
    width: 100%;
    pointer-events: none;
}